<div class="page-container">
  <h1>Orders Management</h1>
  <listing
  	[actionbar]="actionbar"
    [(items)]="ordersToShow"
    [page]="page"
    [maxpages]="maxpages"
    [(limit)]="limit"
    [fields]="fields"
    [bulkOptions]="bulkOptions"
    (bulkOptionChange)="bulkChange($event)"
    (onChange)="changePage($event)"
    (filter)="filterItems($event)"
    (clearSearchEmitter)="clearSearchFunction()"
    [order]="order">
  </listing>
  <mat-card-content *ngIf='loading'>
    <mat-progress-spinner [color]="color" [mode]="mode"></mat-progress-spinner>
  </mat-card-content>
  <h3 *ngIf="!dataAvailable" style="color: #4b71fc">No orders fall into your search criteria.</h3>
</div>
