<div class="pagination">
    <div class="pagination-container">
        <button mat-button class="mat-icon-button"(click)="changePage(1)" [disabled]="page <= 1">
            <mat-icon>first_page</mat-icon>
        </button>
        <button mat-button class="mat-icon-button" (click)="prevPage(page)" [disabled]="page <= 1">
            <mat-icon>chevron_left</mat-icon>
        </button>
        <form class="pagination-input" (ngSubmit)="changePage(page)">
            <input type="text" name="page" class='pageNum' [(ngModel)]="page" >
        </form>
        <button mat-button class="mat-icon-button" (click)="nextPage(page)" [disabled]="page >= maxpages">
            <mat-icon>chevron_right</mat-icon>
        </button>
        <button mat-button class="mat-icon-button" (click)="changePage(maxpages)" [disabled]="page>= maxpages">
            <mat-icon>last_page</mat-icon>
        </button>
    </div>
    <div class="pagination-view">
         <div class="dropdown" [class.showing]="showing" (click)="showing = !showing">
            <button>
                <span>View {{ limit }}</span>
                <mat-icon class="material-icons">arrow_drop_down</mat-icon>
            </button>
            <ul class="dropdown-options">
                <li *ngFor="let view of views">
                    <a (click)="changeLimit(view)">{{ view }}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
