.pagination, .pagination-container {display: flex; height: 33px;}
/*.pagination [mat-button] {height: auto; min-height: 0;}*/
.pagination-input input {
    border-radius: 2px;
    border: 1px solid #e4e7eb;
    padding: 8px 10px;
    width: 60px;
    text-align: center;
}
.pagination-container a {
    padding: 7px 10px;
}
/*.pagination-container button.mat-button {
    margin: 1px 3px;
    height: 31px;
    min-width: 0;
    padding: 0 4px;
}*/
.pageNum {
  margin-top: 5px;
}

/* change views */
.dropdown {position: relative;}
.dropdown button {outline: none; background-color: #fbfbfc; border: 1px solid #fbfbfc; padding: 5px 7px; cursor: pointer; display: flex; align-items: center; min-width: 95px;}
.dropdown button > span {padding-left: 8px;}
.dropdown button:hover {color: #4b71fc;}
.dropdown .dropdown-options {display:none;}
.dropdown.showing button { border-color: #e4e7ed; cursor: pointer; border-bottom: 1px solid #FFF; z-index: 999; position: relative;background-color: #FFF;}
.dropdown.showing .dropdown-options {display: inline-block; border: 1px solid #e4e7ed; padding: 10px 0; position: absolute; top: 18px; z-index: 888; background-color: #FFF; right: 0px;}
.dropdown.showing .dropdown-options li {display: block; margin: 0; font-size: 12px; min-width: 93px;}
.dropdown.showing .dropdown-options li:hover a {background-color: #e3f1fc; color: #5d5b66;}
.dropdown.showing .dropdown-options li a {color: #5d5b66; transition: background .15s ease; padding: 7px 10px; display: block; text-decoration: none; cursor: pointer;}
