 <div data-product-id='' class='invoice'>
  <div class="Invoice">
  	<div id="Logo">
  		<div id="LogoContainer">
  			<h1><a href={{data.storeInfo.domain}}><span class="Logo1stWord">{{data.storeInfo.name}}</span></a></h1>
  		</div>
  	</div>

    <div class="InvoiceTitle">
  		{{data.storeInfo.name}} Invoice for Order #{{data.order.id}}
  	</div>

		<div class="AddressRow">
			<div class="BillingAddress">
				<div class="InvoiceHeading">Billing Details</div>
				<strong>{{data.order.customer_name}}</strong>
				<br>
				{{data.order.street_1}} {{data.order.street_2}}<br>
				{{data.order.city}}, {{data.order.state}} {{data.order.zip}}<br>
				{{data.order.country}}
				<div></div>
				<dl></dl>
				<div>Phone: {{data.order.phone}}</div>
				<div style="">Email: {{data.order.email}}</div>
			</div>
			<div *ngIf='data.shipping' class="ShippingAddress" style="">
				<div class="InvoiceHeading">Shipping Details</div>
				<strong>{{data.shipping.first_name}} {{data.shipping.last_name}}</strong>
				<br>
				{{data.shipping.street_1}} {{data.shipping.street_2}}<br>
				{{data.shipping.city}}, {{data.shipping.state}} {{data.shipping.zip}}<br>
				{{data.shipping.country}}
				<div></div>
				<dl></dl>
				<div>Phone: {{data.shipping.phone}}</div>
				<div style="">Email: {{data.shipping.email}}</div>
			</div>
		</div>

  	<div class="InvoiceDetails">
  		<div class="InvoiceDetailsLeft">
  			<div class="DetailRow">
  				<div class="Label">Order:</div>
  				<div class="Value">#{{data.order.id}}</div>
  			</div>
  			<div class="DetailRow">
  				<div class="Label">Payment Method:</div>
  				<div class="Value">{{data.order.payment_method}} (${{data.product.captured_value}} {{data.order.currency_code}})</div>
  			</div>
  		</div>
  		<div class="InvoiceDetailsRight">
  			<div class="DetailRow">
  				<div class="Label">Order Date:</div>
  				<div class="Value">{{data.order.date}}</div>
  			</div>
				<div *ngIf='data.shipping' class="DetailRow" style="">
					<div class="Label">Shipping Method:</div>
					<div class="Value">{{data.shipping.shipping_method}}</div>
				</div>
  		</div>
  	</div>

  	<div class="InvoiceItems">
  		<div class="InvoiceHeading">Order Items</div>
  		<table class="InvoiceTable">
  			<thead>
  				<tr>
  					<th class="ProductShippingAddress" style="display: none">Shipping Address</th>
  					<th class="ProductQuantity">Qty</th>
  					<th class="ProductSku">Code/SKU</th>
  					<th class="ProductDetails">Product Name</th>
  					<th class="ProductCost" align="right">Unit Price</th>
  					<th class="ProductTotal" align="right">Total</th>
  				</tr>
  			</thead>
  			<tbody class="InvoiceItemList">
				  <tr class="">
				  	<td class="ProductQuantity">{{data.product.quantity}}</td>
				  	<td class="ProductSku">{{data.product.sku}}</td>
				  	<td class="ProductDetails">{{data.product.name}}</td>
				  	<td class="ProductCost">${{data.product.unit_price.toFixed(2)}} {{data.order.currency_code}}</td>
				  	<td class="ProductTotal">${{data.product.captured_value}} {{data.order.currency_code}}</td>
	  			</tr>
  			</tbody>

  			<tbody class="InvoiceTotals">
  				<!-- <tr class="InvoiceSubtotal InvoiceTotalRow">
				  	<td class="Title" colspan="4">Subtotal:</td>
				  	<td class="Total">${{data.order.subtotal}} {{data.order.currency_code}}</td>
				  </tr>
					<tr class="InvoiceShipping InvoiceTotalRow">
				  	<td class="Title" colspan="4">Shipping:</td>
				  	<td class="Total">${{data.shipping.cost_inc_tax}} {{data.order.currency_code}}</td>
				  </tr> -->
					<!-- <tr class="InvoiceTotal InvoiceTotalRow">
				  	<td class="Title" colspan="4">Total:</td>
				  	<td class="Total">{{data.product.captured_value}} {{data.order.currency_code}}</td>
				  </tr> -->
  			</tbody>
  		</table>
  	</div>
	</div>
</div>
