<div class="action-bar-components">
  <form class='action-bar-form' (ngSubmit)="filter()" >
      <input id='searchInput' type="text" name="filter" [(ngModel)]="query" placeholder="Search Order Id, Customer Name or Email address">
      <button mat-button class="btn">Search</button>
  </form>

  <div>
    <select id='orderStatusSelect' [(ngModel)]="actionModel" class='status-select'>
        <option value="">Order Status</option>
        <option *ngFor="let status of bulkOptions" value="{{ status }}">{{ status }}</option>
    </select>
    <button mat-button class="btn" (click)="confirmBulkEdit()">Fiter Order Status</button>
    <button mat-button class="btn" (click)="clearSearchFunction()">Clear Search</button>
  </div>
</div>
