.action-bar-components {
    max-height: 35px;
    display: flex;
}
.action-bar-form {
    border-left: 1px solid #e4e7ed;
    border-right: 1px solid #e4e7ed;
    margin-right: 20%;
}

.action-bar-components select, .action-bar-components input[type="text"] {
    max-width: 270px;
    padding: 0 7px;
    width: 400px;
    height: 34px;
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid #d7d6d9;
    color: #34313f;
    outline: none;
}
.action-bar-components input[type="text"]::placeholder {
    color: #aaa;
}

.clearSearch {
  margin-left: 5px;
}

.filterOrder {
  margin-right: 5px;
}

.status-select {
  width: 50% !important;
}
