<div class="dropdown" [class.showing]="showing" (click)="showing = !showing">
    <button>
        <mat-icon>more_horiz</mat-icon>
    </button>
    <ul class="dropdown-options">
        <li *ngFor="let option of options">
            <a [routerLink]="processLink(option.link, option.replacements)">{{ option.name }}</a>
        </li>
    </ul>
</div>