<li class="row capture-list-item">
	<span class="col" style="min-width: 10%;">{{ product.status }}</span>
	<span class="col" style="min-width: 10%;">{{ product.quantity }}</span>
	<span class="col product-col" style="min-width: 20%;">{{ product.name }}</span>
	<span class="col" style="min-width: 10%;">{{ product.sku }}</span>
  <span class="col" style="min-width: 10%;">${{ product.captured_value }}</span>
  <span class="col" style="min-width: 15%;">{{ product.transaction_id }}</span>
	<span class="col" style="min-width: 15%;">{{ product.created_at }}</span>
	<a *ngIf='!hideInvoice' class='print-invoice' style="min-width: 10%;" (click)='printInvoice()'>View</a>
</li>
