<li class="row heading">
  <span class="col select-item" style="min-width: 10%;">
    <!-- <checkbox [(check)]="allItems" (checkboxChange)="selectItems($event);" class='heading-checkbox'></checkbox> -->
    <mat-checkbox [(ngModel)]="allItems" (change)="selectItems($event)"></mat-checkbox>
  </span>
	<span class="col" style="min-width: 13%;">Captureable Qty</span>
	<span class="col" style="min-width: 10%;">Qty Ordered</span>
	<span class="col" style="min-width: 15%;">Product Name</span>
	<span class="col" style="min-width: 10%;">Sku</span>
  <span class="col" style="min-width: 10%;">Original Price</span>
  <span *ngIf='discountPercentage < 1' class="col" style="min-width: 10%;">Sale Price</span>
  <span class="col" style="min-width: 10%;">Item Total</span>
  <span class="col" style="min-width: 15%;">Actions</span>
</li>

<product-list-item *ngFor="let product of products"
  [product]='product'
  [discountPercentage]='discountPercentage'
  (selectProduct)='selectProduct($event)'
  (updateCaptureQty)='updateCaptureQty($event)'
  >
</product-list-item>

<li class='row'>
  <span class="col" style="min-width: 10%;"></span>
  <span class="col" style="min-width: 10%;">Qty</span>
  <span class="col" style="min-width: 10%;">Value</span>
</li>
<li class='row'>
  <span class="col" style="min-width: 10%;">Totals: </span>
  <span class="col" style="min-width: 10%;">{{totalCaptureQty}}</span>
  <span class="col" style="min-width: 10%;">${{totalCaptureAmount.toFixed(2)}}</span>
</li>


<div class='action-bar'>
  <div class='left-container'>
    <button mat-raised-button class='product-btn capture' (click)='captureSelcted()'>Capture Selected</button>
  </div>
  <div class='right-container'>
    <div class='half-containers'>
      <!-- <button mat-button class='product-btn' (click)="manualCapture('Paid Offline')">Cancel</button> -->
      <button mat-button class='product-btn mark-complete' (click)="manualCapture('Not Processed')">Mark As Complete</button>
    </div>
  </div>
</div>
<mat-progress-bar mode="query" *ngIf='processing'></mat-progress-bar>
