.product-list .row {
  display: flex;
  align-items: center;
  height: 20px;
}

.product-list .row .actions-col {
  display: flex;
}

.product-list {
  /*border: 1px solid gray;*/
  border-radius: 0px;
  text-align: center;
}

.product-list .heading {
  color: #34313f;
  font-weight: 600;
  font-size: 15px;
  height: 4.5rem;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  mat-checkbox {
    position: relative;
  }
}

.action-bar {
  display: flex;
  // width: 50%;
  // height: 75%;
}

.heading-checkbox .checkbox-container {
  margin-top: -34px;
}

.heading-checkbox .checkbox-container .checkbox-checked {
  margin-top: -34px;
}

.product-btn {
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin-left: 15px;
}

.capture {
  background-color: black;
  color: white;
}

.mark-complete {
  background-color: orange;
}

.capture-spinner {
  width: 30px !important;
  height: 30px !important;
}

.left-container {
   flex: 0 1 50%;
   min-height: 100%;
   max-width: 50%;

   button {
     float: left;
   }
}

.right-container {
   flex: 0 1 50%;
   display: flex;
   height: 100%;
   max-width: 50%;
   // flex-wrap: wrap;
   align-items: flex-start;
}

.half-containers {
   flex: 0 0 98%;

   button {
     float: right;

     &.mark-complete {
       margin-top: -18px;
     }
   }
}
