.customer-detail {
  width: 25%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  h3 {
    margin-bottom: 10px;
  }
  h4 {
    margin: 8px 0 8px;
  }
  .billing, .shipping, .info {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: rgba(0,0,0,0.75);
  }
}

.customer-detail p {
  margin: 0;
}

.list-section {
  width: 75%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  .product-list {
    display: flex;
    flex-direction: column;
    background-color: rgba(0,0,0,0.005);
    box-shadow: 0px 0px 5px rgba(0,0,0,0.25);
  }
}

/* .info { height: 10%; }
.billing { height: 15%; }
.shipping { height: 10%; } */
