<div class='customer-detail'>
  <h3>Customer Details: </h3>
  <div class='info'>
    <h4>Info:</h4>
    <p *ngIf='order.email'>Email: {{order.email}}</p>
    <p>Phone: {{order.phone}}</p>
    <p *ngIf='order.payment_method'>Payment Type: {{order.payment_method}} {{order.last4}} {{order.expiry}}</p>
  </div>
  <div class='billing'>
    <h4>Billing:</h4>
    <p *ngIf='order.customer_name'>{{order.customer_name}}</p>
    <p *ngIf='order.company'>{{order.company}}</p>
    <p>{{order.street_1}} {{order.street_2}}</p>
    <p>{{order.city}}, {{order.state}} {{order.zip}}</p>
  </div>

  <mat-progress-bar mode="query" *ngIf=shippingLoading></mat-progress-bar>
  <div class='shipping' *ngIf="shipping">
    <h4>Shipping:</h4>
    <p>{{shipping.first_name}} {{shipping.last_name}}</p>
    <p *ngIf='shipping.company'>{{shipping.company}}</p>
    <p>{{shipping.street_1}} {{shipping.street_2}}</p>
    <p>{{shipping.city}}, {{shipping.state}} {{shipping.zip}}</p>
  </div>
  <!-- <div class="testing">
    <h4>Test Function</h4>
    <button mat-button (click)="postData()">Post Data</button>
    <button mat-button (click)="getData()">Get Data</button>
  </div> -->
</div>

<div class='list-section'>
  <div class='product-list'>
    <mat-progress-bar mode="query" *ngIf=productsLoading></mat-progress-bar>
    <product-list
      [actionBar]='blockActionBar'
      [products]='products'
      [customerId]='customerId'
      [discountPercentage]='order.discountPercentage'
      [orderStatus]='orderStatus'
      [shippingFees]='shippingFees'
      [orderId]='orderId'
      (updateCapture)='reloadCaptureList($event)'
      [capturedItems]="capturedItems"
      >
    </product-list>
  </div>

  <div class='product-list' *ngIf='capturedItems.length > 0'>
    <mat-progress-bar mode="query" *ngIf=captureLoading></mat-progress-bar>
    <capture-list [order]='order' [shipping]='shipping' [capturedItems]="capturedItems"></capture-list>
  </div>
</div>
