<div class="sortable" (click)="sortRow()">
    <mat-icon *ngIf="order != col">sort</mat-icon>
    <mat-icon *ngIf="order == col && sortabledirection == 'desc'">keyboard_arrow_down</mat-icon>
    <mat-icon *ngIf="order == col && sortabledirection == 'asc'">keyboard_arrow_up</mat-icon>
</div>
