<li class="row heading">
	<span class="col" style="min-width: 10%;">Status</span>
	<span class="col" style="min-width: 10%;">Qty</span>
	<span class="col" style="min-width: 20%;">Product Name</span>
	<span class="col" style="min-width: 10%;">Sku</span>
  <span class="col" style="min-width: 10%;">Total</span>
  <span class="col" style="min-width: 15%;">Transaction ID</span>
	<span class="col" style="min-width: 15%;">Capture Date</span>
  <span class="col" style="min-width: 10%;">Invoice</span>
</li>

<capture-list-item *ngFor="let product of capturedItems" class='product-list-item'
	[product]='product' [order]='order' [shipping]='shipping'
	>
</capture-list-item>
