
.product-list .row {
  display: flex;
  text-align: center;
}

.product-list .row .actions-col {
  display: flex;
}

.product-list {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
}

.product-list .heading {
  color: #34313f;
  font-weight: 600;
  font-size: 15px;
}

.action-bar {
  display: flex;
}

:host(.product-list) {
  background-color:red;
}
