.product-list-item {
    font-size: 12px;
    color: rgba(0,0,0,0.75);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px;
    &:hover {
        background-color: white;
    }
    mat-checkbox {
        position: relative;
        top: -7px;
        left: -7px;
    }
}

.adjust-product:hover {
  cursor: pointer;
  color: #4b71fc;
}
