<li class="row product-list-item">
  <span class="col select-item" style="min-width: 10%;">
    <!-- <checkbox [(check)]="product.selected" (checkboxChange)="selectItem($event);"></checkbox> -->
    <mat-checkbox [(ngModel)]="product.selected" (change)="selectItem($event)"></mat-checkbox>
  </span>

	<span *ngIf='product.captured; else originalCaptureableQty' class="col" style="min-width: 13%;">
    <input id='captureQty' style="width: 50%; font-size:15px;" (input) = "captureQtyChange($event)"
     type='number' [(ngModel)]='product.qty_ordered' step='1'/>
  </span>

  <ng-template #originalCaptureableQty>
    <span class="col" style="min-width: 13%;">
      <input style="width: 50%; font-size:15px;" (input) = "captureQtyChange($event)"
       type='number' [(ngModel)]='product.captureQty' step='1' />
    </span>
  </ng-template>

  <!-- <span *ngIf="product.qty_ordered; else originalQty" class="col" style="min-width: 10%;">{{product.qty_ordered}}</span> -->

  <!-- <ng-template #originalQty> -->
    <span class="col" style="min-width: 10%;">{{product.quantity}}</span>
  <!-- </ng-template> -->

	<span class="col product-col" style="min-width: 15%;">{{ product.name }}</span>
	<span class="col" style="min-width: 10%;">{{ product.sku }}</span>
  <span class="col" style="min-width: 10%;">${{ product.base_price }}</span>
  <span *ngIf='discountPercentage < 1' class="col" style="min-width: 10%; color: red;">${{ product.sale_price.toFixed(2) }}</span>
  <span class="col" style="min-width: 10%;">${{ product.total_inc_tax.toFixed(2) }}</span>
  <span class="col actions-col" style="min-width: 15%; padding-left: 70px;">
    <a class='adjust-product' (click)='edit()'>Adjust</a>
  </span>
</li>
