.search-wrapper {width: 100%; font-family: "Source Sans Pro",Arial,"Helvetica Neue",sans-serif; margin-top: -100px}

.bottom-pagination {
    background: #fbfbfc;
    border-color: #e4e7ed;
    border: 1px solid #e4e7ed;
    border-radius: 0;
    font-size: 15px;
    line-height: 1.33334;
    padding: 7px;
    display: flex !important;
    justify-content: flex-end;
    margin-top: -64px;
}
.action-buttons, .action-left {
    display: flex;
}
.action-buttons {
    border-right: 1px solid #e4e7ed;
    margin: -8px 16px -8px -4px;
    padding: 8px 8px 8px 0px;
}
/* action bar css */
.action-bar {
    background: #fbfbfc;
    border-color: #e4e7ed;
    border: 1px solid #e4e7ed;
    border-radius: 0;
    font-size: 15px;
    line-height: 1.33334;
    padding: 7px;
    display: flex !important;
    justify-content: space-between;
}
.action-bar [mat-toolbar-row], .mat-toolbar {
    height: auto !important;
    display: flex !important;
}
.action-bar .mat-toolbar-layout {}

.table-list {
  display: flex;
  flex-direction: column;
  background-color: #FFF;
  border: 1px solid #e0e0e0;
  margin: 33px 0 0;
  padding: 0;
  .row {
    display: flex;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    .cell {
      flex-grow: 1;
      border-right: 1px solid rgba(0,0,0,0.05);
      &.expand {
        // min-width: 50px;
        // max-width: 50px;
        padding: 4px;
      }
      &.id {
        min-width: 100px;
        max-width: 100px;
      }
      &.status {
        min-width: 150px;
        max-width: 150px;
      }
    }
  }
}
.order-list-wrap {
  display: flex;
  align-self: stretch;
}

.oms-row {
  display: flex;
  flex-direction: column;
}

.order-list-detail {
  display: flex;
  align-self: flex-start;
  width:100%;
  border-top: 1px solid rgba(0,0,0,0.04);
}

.heading-items {
  text-align: center;
  min-width: 20%;
  display: flex;
  padding: 20px;
}

.order-row {
  min-width: 20%;
  display: flex;
  padding: 20px;
  span {
    display: flex;
    font-size: 14px;
    color: rgba(0,0,0,0.8);
  }
}

.expand-action {
  display: flex;
  padding: 4px;
  &:hover {
    cursor: pointer;
  }
}
// table-list
mat-table {
  mat-header-row {
    height: 50px;
    display: flex;
    justify-content:flex-start;
  }
  mat-row {
    mat-cell {
      height: 50px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  }
}
