<mat-toolbar class="action-bar">
    <div class="action-left">
        <div class="action-buttons" *ngIf="actionButtons.length > 0">
            <button mat-button class="btn-secondary" *ngFor="let action of actionButtons" (click)="clickAction(action.action)">{{ action.name }}</button>
        </div>
        <action-bar [bulkOptions]="bulkOptions" (bulkOptionChange)="updateBulk($event)"  (filterItems)="filterItems($event)" (clearSearchEmitter)="clearSearchFunction()"></action-bar>
    </div>
    <div class="float-right">
        <listing-pagination [page]="page" [maxpages]="maxpages" [(limit)]="limit" (onChange)="pageChange($event)"></listing-pagination>
    </div>
</mat-toolbar>

<div class='search-wrapper'>
  <ul class="table-list order-list">
      <li class='row heading order-list-item'>
        <div *ngFor="let heading of fields" class="cell heading-items {{ heading.col }}">
             <span class='' *ngIf="!heading.type">{{ heading.name }}</span>
        </div>
      </li>
      <li class='row oms-row' *ngFor="let row of list; let i = index">
          <div class='order-list-wrap'>
            <div class='cell order-row  {{ field.col }}' *ngFor=" let field of fields">
                <button *ngIf="field.expand" mat-icon-button (click)='orderDetail(row)'>
                  <mat-icon *ngIf="!row.show">add</mat-icon>
                  <mat-icon *ngIf="row.show">remove</mat-icon>
                </button>
                <span *ngIf="field.basic">{{ row[field.col] }}</span>
                <a *ngIf="field.link" href="{{ row[field.link.col] }}">{{ row[field.col] }}</a>
            </div>
          </div>
          <order-detail class='order-list-detail' *ngIf="row.show" [order]="row"> </order-detail>
      </li>
  </ul>
</div>

<mat-toolbar class="bottom-pagination">
    <listing-pagination [page]="page" [maxpages]="maxpages" [(limit)]="limit" (onChange)="pageChange($event)" ></listing-pagination>
</mat-toolbar>
